.loading{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  font-size: 70px;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  color: white;
}

.video {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
